<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-4">
                <img src="https://famous-programmer-bucket.s3.us-east-2.amazonaws.com/files/MeetingCalendar.jpg">
                <hr class="light">
                <p>555-555-555</p>
                <p>mc@gmail.com</p>
                <p>100 Street name</p>
                <p>City, State, Code</p>
            </div>
            <div class="col-4">
                <hr class="light">
                <h5>Our hours</h5>
                <hr class="light">
                <p>Monday - Friday: 9am - 5pm</p>
                <p>Saturday: 9am - 2pm</p>
                <p>Sunday: closed</p>
            </div>
            <div class="col-4">
                <img src="https://famous-programmer-bucket.s3.us-east-2.amazonaws.com/files/MeetingCalendar.jpg">
                <hr class="light">
                <p>555-555-555</p>
                <p>mc@gmail.com</p>
                <p>100 Street name</p>
                <p>City, State, Code</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy;KJ.com</h5>
            </div>
        </div>
    </div>
</footer>