@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

nav img{
    height: 70px;
}

nav {
    padding: 14px;
    background-color: #b4b4b4;
    display: flex;
}

nav li {
    padding-right: 16px;
}


nav .leftMenu{
    flex: 1;
}

nav .searchForm{
    width: 300px;
}

.nav-link {
    font-size: 14px;
    color: black;
}

.nav-link:hover {
    color: black;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #563d7c;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.carousel-inner img{
    height: 300px;
    width: 100%;
}

.jumbotron {
    font-size: 16px;
    padding: 16px;
    border-radius: 0;
    margin-bottom: 0;
}

.padding {
    padding-bottom: 32px;
}

.choose {
    background-color: #f2f1e7;
}

.card-body img{
    height: 300px;
    width: 200px
}

.fa-user-circle {
    color: #fff835;
}

.fa-user {
    color: black;
}

.fa-user, .fa-user-circle {
    font-size: 45px;
    margin: 16px;
}

.social a {
    font-size: 70px;
    padding: 48px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-github {
    color: #333;
}

.fa-linkedin {
    color: #2867b2;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-linkedin:hover {
    color: #b4b4b4;
}

footer {
    background-color: #CA3E47;
    color: #d5d5d5;
    padding: 32px;
    margin-top: 32px;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 12px;
    margin-bottom: 16px;
}

footer a {
    color: #d5d5d5;
}

footer img{
    height: 55px;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 16px;
}





